@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 30px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        padding: 12px 0;
    }


    .mob_header .icon_links
    {
        display: none;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *,
    .form .columns > *.width1of5,
    .form .columns > *.width2of5,
    .form .columns > *.width1of3,
    .form .columns > *.width1of6
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .label
    {
        font-size: 12px;
        line-height: 100%;
    }


    .form .checkbox
    {
        font-size: 12px;
        line-height: 18px;

        min-height: 20px;
        padding-left: 32px;
    }


    .form .submit
    {
        padding: 0;
    }


    .form .submit_btn
    {
        width: 100%;
    }


    .form .register_btn
    {
        margin-top: 16px;
        margin-left: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 22px;
    }

    .text_block h3
    {
        font-size: 20px;
    }

    .text_block h4
    {
        font-size: 19px;
    }

    .text_block h5
    {
        font-size: 18px;
    }


    .text_block .slider .thumbs
    {
        width: 280px;
    }

    .text_block .slider .thumbs .btn span
    {
        width: calc(100% - 12px);
        height: calc(100% - 12px);
    }



    /*-----------------
        Main slider
    -----------------*/
    .main_slider .swiper-slide
    {
        min-height: 400px;
    }


    .main_slider .data
    {
        width: 100%;
        padding: 24px;
    }


    .main_slider .desc
    {
        width: 280px;
    }


    .main_slider .link
    {
        font-size: 12px;
        line-height: 20px;
    }



    /*-----------------
        Collections
    -----------------*/
    .collections .grid
    {
        margin-left: 0;
    }

    .collections .grid > *,
    .collections .grid > *.big_w
    {
        width: 100%;
        margin-left: 0;

        order: 0;
    }



    /*--------------
        Products
    --------------*/
    .products .swiper-button-prev,
    .products .swiper-button-next
    {
        display: none;
    }


    .products .swiper-slide
    {
        width: 240px;
    }


    .products .row,
    .content .products .row
    {
        margin-left: 0;

        --count: 1;
    }

    .products .row > *,
    .content .products .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .products .product .price,
    .products .row .product .price
    {
        width: auto;
    }


    .products .product .amount,
    .products .row .product .amount,
    .products .product .buy_btn,
    .products .row .product .buy_btn
    {
        margin-top: 0;
    }


    .products .swiper-slide .product .price
    {
        width: 100%;
    }

    .products .swiper-slide .product .amount,
    .products .swiper-slide .product .buy_btn
    {
        margin-top: 12px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .swiper-button-prev,
    .projects .swiper-button-next
    {
        display: none;
    }


    .projects .swiper-slide
    {
        width: 240px;
    }


    .projects .project .thumb
    {
        padding-bottom: 180px;
    }


    .projects .project .name
    {
        font-size: 18px;
        line-height: 24px;
    }


    .projects .project .features
    {
        display: block;
    }

    .projects .project .features > *
    {
        margin-left: 0;
    }

    .projects .project .features .sep
    {
        display: none;
    }



    /*-----------------
        Bottom btns
    -----------------*/
    .bottom_btns .btn
    {
        font-size: 14px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .section .title
    {
        font-size: 18px;
        line-height: 26px;
    }


    .contacts_info .row
    {
        margin-bottom: 0;
        margin-left: 0;
    }

    .contacts_info .row > *
    {
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
    }


    .contacts_info .row > * + *
    {
        margin-top: 24px;
        padding-top: 24px;

        border-top: 1px solid #ededed;
    }



    /*----------------------
        Partners network
    ----------------------*/
    .partners_network .head .title
    {
        font-size: 22px;
        line-height: 30px;
    }


    .partners_network .head .city
    {
        width: 100%;
    }


    .partners_network .head .join_btn
    {
        width: 100%;
        margin-top: 12px;
    }



    .partners_network .items .item
    {
        padding: 19px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images .image
    {
        height: 320px;
    }


    .product_info .buy .price .val
    {
        font-size: 26px;
        line-height: 100%;

        margin-top: 4px;
    }


    .product_info .buy .unit label div
    {
        min-width: 56px;
        padding: 5px;
    }


    .product_info .buy .unit .exp
    {
        font-size: 13px;

        margin-top: 12px;
    }


    .product_info .features .label
    {
        width: calc(100% - 140px);
    }

    .product_info .features .val
    {
        width: 140px;
    }


    .product_info .features .spoler_btn,
    .product_info .params_btn,
    .product_info .products_btn
    {
        font-size: 12px;
    }


    .product_info .params_btn,
    .product_info .products_btn
    {
        margin-top: 12px;
    }


    .product_info .info .price .val
    {
        font-size: 24px;

        margin-top: 4px;
    }



    /*------------------
        Product data
    ------------------*/
    .product_data .features .label
    {
        width: calc(100% - 140px);
    }

    .product_data .features .val
    {
        width: 140px;
    }



    /*------------
        Awards
    ------------*/
    .awards .row
    {
        margin-left: 0;
    }

    .awards .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .awards .thumb
    {
        height: 300px;
    }



    /*-----------
        Files
    -----------*/
    .files .row
    {
        margin-left: 0;
    }

    .files .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .files .file .btns
    {
        margin-left: -24px;
    }

    .files .file .btns > *
    {
        width: auto;
        margin-left: 24px;
    }



    /*-------------
        Catalog
    -------------*/
    .catalog .head .type
    {
        width: 100%;
        margin-bottom: 20px;
    }


    .catalog .head .type > *
    {
        width: 50%;

        text-align: center;
    }

    .catalog .head .type > * + *
    {
        margin-left: 0;
    }


    .catalog .head .limit
    {
        width: 100%;
    }

    .catalog .head .limit .nice-select
    {
        width: 100%;
    }


    .catalog .head .field
    {
        width: calc(100% - 110px);
    }



    /*--------------
        Articles
    --------------*/
    .articles .article .data
    {
        padding: 44px 20px 20px;
    }


    .articles .article .date
    {
        left: 20px;
    }


    .articles .article .name
    {
        font-size: 19px;
        line-height: 27px;
    }


    .articles .article .desc
    {
        margin-top: 16px;
    }



    /*-----------------
        About stats
    -----------------*/
    .about_stats .item .val
    {
        font-size: 60px;
    }



    /*--------------------
        Contacts block
    --------------------*/
    .contacts_block .requisites .download
    {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
        padding-top: 0;
    }



    /*---------------
        Cart info
    ---------------*/
    .cart_info .product .price
    {
        width: 100%;
        margin-bottom: 16px;
    }


    .cart_info .product .amount,
    .cart_info .product .price.total
    {
        width: calc(50% - 12px);
        margin: 0;
    }



    /*-------------------
        Checkout info
    -------------------*/
    .checkout_info .section + .section
    {
        margin-top: 40px;
    }


    .checkout_info .form .columns > *.width1of3,
    .checkout_info .form .columns > *.width1of6
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .checkout_info .entity_check .login_btn
    {
        width: 100%;
        margin-top: 8px;
        margin-left: 30px;

        text-align: left;
    }



    /*-------------
        LK info
    ------------*/
    .lk_info .section + .section
    {
        margin-top: 48px;
    }


    .lk_info .password .form .btns
    {
        margin-top: 0;
    }



    .lk_info .personal_discount
    {
        font-size: 15px;
        line-height: 21px;

        width: 100%;
        padding: 22px;
    }

    .lk_info .personal_discount .val
    {
        font-size: 32px;
    }



    /*------------
        Footer
    ------------*/
    footer .creator
    {
        width: 100%;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 40px;
    }


    .modal_title
    {
        font-size: 22px;
        line-height: 28px;
    }


    .modal .btns
    {
        margin-top: 24px;
        padding-top: 19px;
    }
}
