.swiper-button-next,
.swiper-button-prev
{
    top: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 34px;
    height: 25px;
    margin: auto;

    transition: color .2s linear;
    transform: none;

    color: #f4004d;
}

.swiper-button-prev
{
    right: 597px;
    left: auto;
}

.swiper-button-next
{
    right: 547px;
}

.swiper-button-next:after,
.swiper-button-prev:after
{
    display: none;
}


.swiper-button-next .icon,
.swiper-button-prev .icon
{
    display: block;

    width: 14px;
    height: 25px;
}

.swiper-button-next .icon
{
    transform: rotate(180deg);
}


.swiper-button-next:hover,
.swiper-button-prev:hover
{
    color: #c8929c;
}



.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}



.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
{
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: auto;
    height: 2px;

    pointer-events: none;
}

.swiper-pagination-bullet
{
    display: block;

    width: 16px;
    height: 2px;

    transition: .2s linear;
    pointer-events: auto;

    opacity: 1;
    background: #edd3d9;
}

.swiper-pagination-bullet + .swiper-pagination-bullet
{
    margin-left: 20px !important;
}

.swiper-pagination-bullet:hover
{
    background: #f4004d;
}

.swiper-pagination-bullet.active
{
    width: 40px;

    background: #f4004d;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0;
}
